<launch>

	<!-- Load controller manager -->
	<rosparam command="load" file="$(find hsr_control)/config/default_controllers.yaml" />
	<node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn 
		joint_state_controller
		arm_flex_joint_position_controller
		arm_lift_joint_position_controller
		arm_roll_joint_position_controller
		head_pan_joint_position_controller
		head_tilt_joint_position_controller
		wrist_flex_joint_position_controller
		wrist_roll_joint_position_controller
		hand_motor_joint_position_controller
		hand_l_spring_proximal_joint_position_controller
		hand_r_spring_proximal_joint_position_controller" />

	<node name="joint_position_command_publisher" pkg="hsr_control" type="command_publisher.py" />
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
		<remap from="joint_states" to="desired_joint_states" />
	</node>

</launch>