<launch>

	<!-- Load controller manager -->
	<rosparam command="load" file="$(find franka_control)/config/default_controllers.yaml" />
	<node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn 
		joint_state_controller 
		panda_joint1_position_controller
		panda_joint2_position_controller
		panda_joint3_position_controller
		panda_joint4_position_controller
		panda_joint5_position_controller
		panda_joint6_position_controller
		panda_joint7_position_controller" />

</launch>