<launch>

    <arg name="namespace" default="panda_arm" />
    <arg name="config" default="$(find franka_mujoco)/config/dual_panda_arm_with_bowl.xml" />

    <include file="$(find franka_mujoco)/launch/dual_panda_arm_display.launch">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="config" value="$(arg config)" />
        <arg name="pub_object_marker" value="false" />
        <arg name="pub_object_state" value="true" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="place_pub" args="0 0 1 0 0 0 base place 100" output="screen" />

    <include file="$(find giskardpy)/launch/giskardpy_dual_panda_arm.launch" />

    <node pkg="franka_control" type="test_dual_joint_pick_place_ue_1.py" name="test_1" output="screen" launch-prefix="bash -c 'sleep 1; $0 $@' " />

    <node pkg="franka_control" type="test_dual_joint_pick_place_ue_2.py" name="test_2" output="screen" launch-prefix="bash -c 'sleep 6; $0 $@' " />

</launch>