<launch>

    <arg name="namespace" default="panda_arm"/>
    <arg name="config" default="$(find franka_mujoco)/config/dual_panda_arm_with_bowl.xml" />

    <include file="$(find franka_mujoco)/launch/dual_panda_arm_display.launch">
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="config" value="$(arg config)" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="place_pub" args="0 0 1 0 0 0 base place 100" output="screen" />

    <include file="$(find giskardpy)/launch/giskardpy_dual_panda_arm.launch" />

    <!-- <node pkg="franka_control" type="test_dual_joint_pick_place_1.py" name="test_1" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@' " />

    <node pkg="franka_control" type="test_dual_joint_pick_place_2.py" name="test_2" output="screen" launch-prefix="bash -c 'sleep 15; $0 $@' " /> -->

</launch>