<launch>

    <arg name="namespace" default="dual_panda" />
    <arg name="world" default="$(find franka_mujoco)/model/world_dual_panda.xml" />
    <arg name="disable_parent_child_collision_level" default="3" />

    <group ns="$(arg namespace)">
        <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
            <arg name="config" value="$(find franka_mujoco)/config/dual_panda.yaml" />
            <arg name="robot" value="$(find franka_description)/robots/dual_panda_arm.urdf" />
            <arg name="world" value="$(arg world)" />
            <arg name="use_urdf" value="true" />
            <arg name="disable_parent_child_collision_level" value="$(arg disable_parent_child_collision_level)" />
        </include>
    </group>

</launch>