<launch>

    <arg name="namespace" default="panda" />
    <arg name="config" default="$(find franka_mujoco)/config/panda.yaml" />

    <group ns="$(arg namespace)">
        <include file="$(find mujoco_sim)/launch/mujoco_sim_headless.launch">
            <arg name="config" value="$(arg config)" />
            <arg name="robot" value="$(find franka_mujoco)/model/panda.xml" />
            <arg name="world" value="$(find franka_mujoco)/model/world_panda.xml" />
        </include>
    </group>

</launch>
