<launch>

    <arg name="namespace" default="ridgeback_panda" />

    <group ns="$(arg namespace)">
        <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
            <arg name="config" value="$(find ridgeback_panda_mujoco)/config/ridgeback_panda.yaml" />
            <arg name="robot" value="$(find ridgeback_panda_mujoco)/model/ridgeback_panda.xml" />
            <arg name="world" value="$(find ridgeback_panda_mujoco)/model/world.xml" />
        </include>
    </group>

</launch>