<launch>

    <arg name="namespace" default="ur5" />
    <include file="$(find ur_mujoco)/launch/ur5_sim.launch">
        <arg name="namespace" value="$(arg namespace)" />
    </include>

    <group ns="$(arg namespace)">
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <include file="$(find ur_control)/launch/ur_traj_control.launch" />

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur_mujoco)/rviz_config/rviz_config.rviz" />
    </group>

</launch>