<launch>

    <arg name="namespace" default="ur5"/>
    <include file="$(find ur_mujoco)/launch/ur5_sim.launch" >
        <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <group ns="$(arg namespace)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find ur_description)/urdf/ur5_robot.urdf.xacro'" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <include file="$(find ur_control)/launch/ur_vel_control.launch" />
    </group>
    
    <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find ur_mujoco)/rviz_config/rviz_config.rviz" />

</launch>