<launch>

  <arg name="namespace" default="mir_system" />

  <group ns="$(arg namespace)">
    <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
      <arg name="config" value="$(find mir_system_mujoco)/config/mir_system.yaml" />
      <arg name="robot" value="$(find mir_system_description)/urdf/mir_system.urdf" />
      <arg name="use_urdf" value="true" />
      <arg name="disable_parent_child_collision_level" value="3" />
    </include>
  </group>

</launch>