<launch>
    <node pkg="tf" type="static_transform_publisher" name="fake_odometry" output="screen" args="0 0 0 0 0 0 1 map odom 10" />
    
    <arg name="namespace" default="hsrb4s" />
    <include file="$(find hsr_mujoco)/launch/hsrb4s_sim.launch">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="world" value ="$(find mujoco_world)/model/iai_apartment/iai_apartment.xml" />
    </include>

    <group ns="$(arg namespace)">
        <param name="robot_description" command="$(find xacro)/xacro $(find hsr_description)/robots/hsrb4s.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <include file="$(find hsr_control)/launch/hsr_follow_joint_trajectory_controller.launch" />
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hsr_mujoco)/rviz_config/rviz_config2.rviz" />
    </group>

    <arg name="model" default="$(find iai_apartment)/urdf/apartment_unreal.xacro" />
    <param name="apartment_description" command="$(find xacro)/xacro '$(arg model)'" />

    <node pkg="tf" type="static_transform_publisher" name="iai_apartment_root_link_broadcaster" args="0 0 0 0 0 0 map iai_apartment/apartment_root 25"></node>

    <include file="$(find iai_apartment)/launch/apartment_upload.launch" />

    <node name="apartment_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="robot_description" to="apartment_description" />
        <remap from="joint_states" to="/mujoco/joint_states" />
        <param name="tf_prefix" value="iai_apartment" />
        <param name="publish_frequency" value="60" />
    </node>

</launch>