<launch>

  <arg name="namespace" default="tiago" />
  <arg name="config" default="$(find tiago_mujoco)/config/tiago.yaml" />
  <arg name="world" default="$(find tiago_mujoco)/model/world.xml" />

  <group ns="$(arg namespace)">
    <include file="$(find mujoco_sim)/launch/mujoco_sim_headless.launch">
      <arg name="config" value="$(arg config)" />
      <arg name="robot" value="$(find tiago_mujoco)/model/tiago.xml" />
      <arg name="world" value="$(arg world)" />
    </include>
  </group>

</launch>