<launch>

    <arg name="namespace" default="tiago" />
    <include file="$(find tiago_mujoco)/launch/tiago_sim.launch">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="world" value="$(find mujoco_world)/model/iai_kitchen/iai_kitchen_python.xml" />
    </include>

    <arg name="model" default="$(find iai_kitchen)/urdf_obj/iai_kitchen_python.urdf.xacro" />
    <param name="kitchen_description" command="$(find xacro)/xacro '$(arg model)'" />

    <node pkg="tf" type="static_transform_publisher" name="iai_kitchen_room_link_broadcaster" args="0.0 0.0 0. 0.0 0. 0. map iai_kitchen/world 25"></node>

    <node name="kitchen_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="robot_description" to="kitchen_description" />
        <remap from="joint_states" to="/mujoco/joint_states" />
        <param name="tf_prefix" value="iai_kitchen" />
        <param name="publish_frequency" value="60" />
    </node>

    <group ns="$(arg namespace)">
        <param name="robot_description" command="$(find xacro)/xacro $(find tiago_mujoco)/model/tiago.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <include file="$(find tiago_control)/launch/tiago_control.launch" />
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_mujoco)/rviz_config/rviz_config.rviz" />
    </group>

</launch>