<launch>

  <arg name="namespace" default="tiago" />

  <group ns="$(arg namespace)">
    <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
      <arg name="config" value="$(find tiago_mujoco)/config/tiago.yaml" />
      <arg name="robot" value="$(find tiago_mujoco)/model/tiago.xml" />
      <arg name="world" value="$(find mujoco_world)/model/iai_kitchen_python.xml" />
    </include>
  </group>

</launch>