<launch>

    <arg name="namespace" default="tiago" />
    <include file="$(find tiago_mujoco)/launch/tiago_sim_with_kitchen.launch">
        <arg name="namespace" value="$(arg namespace)" />
    </include>

    <group ns="$(arg namespace)">
        <param name="robot_description" command="$(find xacro)/xacro $(find tiago_description)/robots/tiago.urdf.xacro" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <include file="$(find tiago_control)/launch/tiago_control.launch" />
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_mujoco)/rviz_config/rviz_config.rviz" />
    </group>

</launch>