<launch>

    <include file="$(find zoo_mujoco)/launch/zoo_sim.launch" />

    <group ns="ridgeback_panda">
        <param name="robot_description" command="$(find xacro)/xacro $(find ridgeback_description)/urdf/ridgeback_panda.urdf" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="tf_prefix" value="ridgeback_panda" />
            <remap from="/ridgeback_panda/joint_states" to="/joint_states" />
        </node>
    </group>

    <group ns="mir_system">
        <param name="robot_description" command="$(find xacro)/xacro $(find mir_system_description)/urdf/mir_system.xacro" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="tf_prefix" value="mir_system" />
            <remap from="/mir_system/joint_states" to="/joint_states" />
        </node>
    </group>

    <include file="$(find zoo_control)/launch/zoo_control.launch" />

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find zoo_mujoco)/rviz_config/rviz_config.rviz" />

</launch>