<launch>

    <include file="$(find zoo_mujoco)/launch/zoo_sim.launch" />

    <group ns="ridgeback_panda">
        <param name="robot_description" command="$(find xacro)/xacro $(find ridgeback_description)/urdf/ridgeback_panda.urdf" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="tf_prefix" value="ridgeback_panda" />
        </node>

        <include file="$(find ridgeback_panda_control)/launch/ridgeback_panda_control.launch" />
    </group>

    <group ns="mir_system">
        <param name="robot_description" command="$(find xacro)/xacro $(find mir_system_description)/urdf/mir_system.xacro" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="tf_prefix" value="mir_system" />
        </node>

        <include file="$(find mir_system_control)/launch/mir_system_control.launch" />
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find zoo_mujoco)/rviz_config/rviz_config.rviz" />

</launch>