<launch>

    <arg name="namespace" default="iai_donbot" />
    <arg name="world" default="$(find iai_robots_mujoco)/model/world.xml" />

    <group ns="$(arg namespace)">
        <include file="$(find mujoco_sim)/launch/mujoco_sim_headless.launch">
            <arg name="use_urdf" value="true" />
            <arg name="config" value="$(find iai_robots_mujoco)/config/iai_donbot.yaml" />
            <arg name="robot" value="$(find iai_robots_mujoco)/model/iai_donbot.urdf" />
            <arg name="world" value="$(arg world)" />
        </include>
    </group>

</launch>