<launch>

	<!-- Load controller manager -->
	<rosparam command="load" file="$(find mir_system_control)/config/default_controllers.yaml" />
	<node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn 
		joint_state_controller
		fl_caster_rotation_joint_position_controller
		fr_caster_rotation_joint_position_controller
		bl_caster_rotation_joint_position_controller
		br_caster_rotation_joint_position_controller
		fl_caster_wheel_joint_velocity_controller
		fr_caster_wheel_joint_velocity_controller
		bl_caster_wheel_joint_velocity_controller
		br_caster_wheel_joint_velocity_controller" />

</launch>