<launch>

    <arg name="namespace" default="kmr_iiwa" />
    <include file="$(find kmr_iiwa_mujoco)/launch/kmr_iiwa_sim_headless.launch">
        <arg name="namespace" value="$(arg namespace)" />
    </include>

    <group ns="$(arg namespace)">
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <include file="$(find kmr_iiwa_control)/launch/kmr_iiwa_control.launch" />
    </group>

</launch>