<launch>

	<!-- Load controller manager -->
	<rosparam command="load" file="$(find armar_control)/config/default_controllers.yaml" />
	<node name="controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn 
		joint_state_controller
		torso_controller
		head_controller
		arm_left_controller
		arm_right_controller
		Thumb_L_1_Joint_controller
		Thumb_L_2_Joint_controller
		Index_L_1_Joint_controller
		Index_L_2_Joint_controller
		Index_L_3_Joint_controller
		Middle_L_1_Joint_controller
		Middle_L_2_Joint_controller
		Middle_L_3_Joint_controller
		Ring_L_1_Joint_controller
		Ring_L_2_Joint_controller
		Ring_L_3_Joint_controller
		Pinky_L_1_Joint_controller
		Pinky_L_2_Joint_controller
		Pinky_L_3_Joint_controller
		Thumb_R_1_Joint_controller
		Thumb_R_2_Joint_controller
		Index_R_1_Joint_controller
		Index_R_2_Joint_controller
		Index_R_3_Joint_controller
		Middle_R_1_Joint_controller
		Middle_R_2_Joint_controller
		Middle_R_3_Joint_controller
		Ring_R_1_Joint_controller
		Ring_R_2_Joint_controller
		Ring_R_3_Joint_controller
		Pinky_R_1_Joint_controller
		Pinky_R_2_Joint_controller
		Pinky_R_3_Joint_controller" />

</launch>