<launch>

    <arg name="namespace" default="armar6" />

    <group ns="$(arg namespace)">
        <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
            <arg name="config" value="$(find armar_mujoco)/config/armar6.yaml" />
            <arg name="robot" value="$(find armar_description)/urdf/armar6_clean.urdf" />
            <arg name="world" value="$(find ur_mujoco)/model/world.xml" />
            <arg name="use_urdf" value="true" />
            <arg name="disable_parent_child_collision_level" value="3" />
        </include>
    </group>

</launch>