<launch>

  <arg name="namespace" default="armar6" />
  <include file="$(find armar_mujoco)/launch/armar6_sim.launch">
      <arg name="namespace" value="$(arg namespace)" />
  </include>

  <group ns="$(arg namespace)">
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

      <include file="$(find armar_control)/launch/armar6_control.launch" />
      <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find armar_description)/rviz_config/rviz_config.rviz" />
  </group>

</launch>