<launch>

    <arg name="namespace" default="armar6" />
    <arg name="world" default="$(find ur_mujoco)/model/world.xml" />
    <arg name="config" default="$(find armar_mujoco)/config/armar6.yaml" />

    <group ns="$(arg namespace)">
        <include file="$(find mujoco_sim)/launch/mujoco_sim_headless.launch">
            <arg name="config" value="$(arg config)" />
            <arg name="robot" value="$(find armar_description)/urdf/armar6_clean.urdf" />
            <arg name="world" value="$(arg world)" />
            <arg name="use_urdf" value="true" />
            <arg name="disable_parent_child_collision_level" value="2" />
        </include>
    </group>

</launch>